name: LaTeX Test Diff

on:
    push:
        branches: [master]
    pull_request:        
        branches: [master]

permissions:
  contents: read
  packages: read

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/${{ github.repository }}:latex
            credentials:
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - uses: actions/checkout@v4
            - name: Install latexdiff
              run: sudo apt-get update && sudo apt-get install -y latexdiff
            - name: Get previous version
              run: |
                    git fetch origin master
                    git checkout FETCH_HEAD~1 main.tex
                id: previous
            - name: Generate diff
              run: latexdiff main.tex main.tex > diff.tex
            - name: Compile PDF from diff
              run: |
                    latexmk -pdf -interaction=nonstopmode diff.tex
            - name: Upload PDF artifact
              uses: actions/upload-artifact@v4
              with:
                    name: lab09-latex-diff-pdf
                    path: ./diff.pdf