name: Spellcheck LaTeX Files

on:
    push:
        branches: [master]
    pull_request:        
        branches: [master]

jobs:
    spellcheck:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4
    
          - name: Install dependencies
            run: |
                sudo apt-get update
                sudo apt-get install -y aspell aspell-en pandoc texlive-latex-base texlive-latex-recommended
    
          - name: Find and spellcheck .tex files
            run: |
                output_file="spellcheck_report.txt"
                echo "Spellcheck Report" > "$output_file"
                echo "=================" >> "$output_file"
                echo >> "$output_file"

                for file in $(find . -name "*.tex"); do
                    echo "File: $file" >> "$output_file"
                    echo "-----------------" >> "$output_file"

                    misspelled=$(aspell \
                    --lang=en \
                    --personal="$GITHUB_WORKSPACE/.aspell.en.pws" \
                    --mode=tex \
                    list < "$file" | sort -u)


                    if [ -z "$misspelled" ]; then
                        echo "No spelling errors found." >> "$output_file"
                        echo >> "$output_file"
                        continue
                    fi

                    while IFS= read -r word; do
                    grep -n -E "(^|[^A-Za-z])$word([^A-Za-z]|$)" "$file" |      while IFS= read -r line; do
                        echo "$line" >> "$output_file"
                        echo "Errore: $word" >> "$output_file"
                        echo >> "$output_file"
                    done

                    done <<< "$misspelled"

                    echo >> "$output_file"
                done

    
          - name: Convert report to PDF
            run: pandoc spellcheck_report.txt -o spellcheck_report.pdf
    
          - name: Upload artifact
            uses: actions/upload-artifact@v4
            with:
                name: spellcheck-report
                path: spellcheck_report.pdf